<div class="log-in-container">
    <img src="assets/img/logo.png">
    <mat-card>
        <h1 mat-dialog-title>Welcome</h1>

        <button class="mat-raised-btn" mat-raised-button color="primary" routerLink="/signup">Signup</button>
        <button class="mat-raised-btn" mat-raised-button color="primary" routerLink="/login">Login</button>
        <!-- <button class="mat-raised-btn" mat-raised-button color="primary" routerLink="/dashboard">Dashboard</button> -->
        <div class="info-txt" *ngIf="(afAuth.user | async)">You are logged in
            <br>
            <div class="btn">
                <button class="mat-raised-btn" mat-raised-button color="primary" (click)="logout()">Log out</button>
            </div>
        </div>
        <div class="info-txt" *ngIf="!(afAuth.user | async)">You are logged out</div>
    </mat-card>
</div>