<div class="dialog-container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <h1 mat-dialog-title>Edit Assets</h1>
    <div mat-dialog-content>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Category</mat-label>
                <mat-select required [(ngModel)]="user.category" name="category" multiple>
                    <mat-option value="stocks">Stocks</mat-option>
                    <mat-option value="ETF">ETF</mat-option>
                    <mat-option value="krypto">Krypto</mat-option>
                    <mat-option value="real-estate">Real Estate</mat-option>
                    <mat-option value="bonds">Bonds</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </div>
    <div mat-dialog-actions>
        <button [disabled]="loading" mat-button (click)="dialogRef.close()">Cancel</button>
        <button [disabled]="loading" mat-button cdkFocusInitial (click)="saveUser()">Save</button>
    </div>
</div>